$bg-custom:  #0b1017;
$bg-color-text: #fff;

* {
  margin: 0;
  padding: 0;
}

body {
  background:$bg-custom;

}

h2{
  margin-top: 1.5em;
}

#bglist{
  color:$bg-color-text;
  //border: 1px solid $bg-color-text;
  background:$bg-custom;
}
#uppercase{
 text-transform: uppercase;

}